name: CI

on: [push, pull_request]

jobs:
  build_x64_executables:
    runs-on: ubuntu-18.04
    strategy:
      matrix:
        pkg_target_without_node:
          - linuxstatic-x64
          - linux-x64
          - mac-x64
          - alpine-x64
          - win-x64
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
    - uses: actions/setup-node@v1
      with:
        node-version: '16'
    - run: npm ci
    - run: |
        set -xeu
        npm run piping-build
        ./node_modules/.bin/pkg --out-path=piping-server-pkg-${{ matrix.pkg_target_without_node }} --targets=node16-${{ matrix.pkg_target_without_node }} ./piping-server
    - name: tar.gz or zip
      run: |
        set -xeu
        if [ "${{ matrix.pkg_target_without_node }}" = "win-x64" ]; then
          zip -r piping-server-pkg-${{ matrix.pkg_target_without_node }}.zip ./piping-server-pkg-${{ matrix.pkg_target_without_node }}
        else
          tar czvf piping-server-pkg-${{ matrix.pkg_target_without_node }}.tar.gz ./piping-server-pkg-${{ matrix.pkg_target_without_node }}
        fi
    - uses: actions/upload-artifact@v2
      with:
        name: build_x64
        path: |
          piping-server-pkg-*.tar.gz
          piping-server-pkg-*.zip

  build_arm_executables:
    runs-on: ubuntu-18.04
    strategy:
      matrix:
        pkg_target_without_node:
          - linuxstatic-arm64
          - linuxstatic-armv7
          - linux-arm64
          - mac-arm64
          - alpine-arm64
          - win-arm64
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v1
    - run: |
        set -xeu
        docker run --rm -i -v $PWD:/app --platform=linux/arm64/v8 node:14 bash << 'EOF'
        set -xeu
        # Install ldid for macos-arm64 signing
        curl -LO https://github.com/ProcursusTeam/ldid/releases/download/v2.1.5-procursus2/ldid_linux_aarch64
        chmod +x ldid_linux_aarch64
        mv ./ldid_linux_aarch64 /usr/local/bin/ldid
        cd /app
        npm ci
        npm run piping-build
        ./node_modules/.bin/pkg --out-path=piping-server-pkg-${{ matrix.pkg_target_without_node }} --targets=node16-${{ matrix.pkg_target_without_node }} ./piping-server
        EOF
    - name: tar.gz or zip
      run: |
        set -xeu
        if [ "${{ matrix.pkg_target_without_node }}" = "win-arm64" ]; then
          zip -r piping-server-pkg-${{ matrix.pkg_target_without_node }}.zip ./piping-server-pkg-${{ matrix.pkg_target_without_node }}
        else
          tar czvf piping-server-pkg-${{ matrix.pkg_target_without_node }}.tar.gz ./piping-server-pkg-${{ matrix.pkg_target_without_node }}
        fi
    - uses: actions/upload-artifact@v2
      with:
        name: build_arm
        path: |
          piping-server-pkg-*.tar.gz
          piping-server-pkg-*.zip

  linux_operational_test:
    runs-on: ubuntu-18.04
    needs: build_x64_executables
    steps:
    - uses: actions/download-artifact@v2
      with:
        name: build_x64
        path: .
    - name: Unarchive tar.gz
      run: tar xvf piping-server-pkg-linuxstatic-x64.tar.gz
    - name: Operational test
      run: |
        set -xeu
        # Run a server in background
        ./piping-server-pkg-linuxstatic-x64/piping-server --http-port=8080 &> ./piping-server.log &
        # Get server PID
        server_pid=$!
        # Wait for server running
        sleep 1
        # Create a file to send
        echo 'hello, world' > /tmp/hello.txt
        # Send and wait for a receiver
        curl -T /tmp/hello.txt localhost:8080/mypath &
        # Get data as a file
        curl localhost:8080/mypath > /tmp/download.txt
        # Print downloaded file
        cat  /tmp/download.txt
        # Test the equality
        diff /tmp/hello.txt /tmp/download.txt

        # Print server's log
        cat ./piping-server.log

        # Stop the server
        kill $server_pid

  alpine_operational_test:
    runs-on: ubuntu-18.04
    needs: build_x64_executables
    steps:
    - uses: actions/download-artifact@v2
      with:
        name: build_x64
        path: .
    - name: Unarchive tar.gz
      run: tar xvf piping-server-pkg-alpine-x64.tar.gz
    - name: Operational test
      run: |
        docker run --rm -i -v $PWD:/app alpine:3.14 /bin/sh << EOF
        set -xeu
        apk add curl openssl

        # Create certificates
        (mkdir ssl_certs && cd ssl_certs && openssl req -x509 -newkey rsa:4096 -keyout server.key -out server.crt -days 365 -sha256 -nodes --subj '/CN=localhost/')
        # Run a server in background
        /app/piping-server-pkg-alpine-x64/piping-server --http-port=8181 --enable-https --https-port=8443 --crt-path=./ssl_certs/server.crt --key-path=./ssl_certs/server.key &> ./piping-server.log &
        # Wait for server running
        sleep 1
        
        # Transfer data over HTTP
        echo "hello, world" | curl -T - localhost:8181/mypath &
        diff <(echo "hello, world") <(curl localhost:8181/mypath)
        # Make a large random file
        dd if=/dev/urandom iflag=count_bytes count=500M bs=1M of=/tmp/500M.dat
        # Transfer large data over HTTP
        cat /tmp/500M.dat | curl -T - localhost:8181/mypath &
        diff <(cat /tmp/500M.dat) <(curl localhost:8181/mypath)
        rm /tmp/500M.dat

        # Transfer data over HTTPS
        echo "hello, world with HTTPS" | curl -kT - https://localhost:8443/mypath2 &
        diff <(echo "hello, world with HTTPS") <(curl -k https://localhost:8443/mypath2)
        # Make a large random file
        dd if=/dev/urandom iflag=count_bytes count=500M bs=1M of=/tmp/500M.dat
        # Transfer large data over HTTPS
        cat /tmp/500M.dat | curl -kT - https://localhost:8443/mypath2 &
        diff <(cat /tmp/500M.dat) <(curl -k https://localhost:8443/mypath2)
        rm /tmp/500M.dat

        # HTTP/2 support
        (echo hello | curl -ksST- https://localhost:8443/mypath3 -o /dev/null -w '%{http_version}:%{http_code}\n' > /tmp/http2_post.txt) &
        diff <(echo '2:200') <(curl -ksS https://localhost:8443/mypath3 -o /dev/null -w '%{http_version}:%{http_code}\n')
        diff <(echo '2:200') /tmp/http2_post.txt

        # Transfer data using multipart
        # Make a large random file
        dd if=/dev/urandom iflag=count_bytes count=500M bs=1M of=/tmp/500M.dat
        # Transfer large data over HTTP
        curl -F myfile=@/tmp/500M.dat localhost:8181/mypath3 &
        diff <(cat /tmp/500M.dat) <(curl localhost:8181/mypath3)
        rm /tmp/500M.dat

        # Print server's log
        cat ./piping-server.log
        EOF

  macos_operational_test:
    runs-on: macos-10.15
    needs: build_x64_executables
    steps:
    - uses: actions/download-artifact@v2
      with:
        name: build_x64
        path: .
    - name: Unarchive tar.gz
      run: tar xvf piping-server-pkg-mac-x64.tar.gz
    - name: Operational test
      run: |
        set -xeu
        # Run a server in background
        ./piping-server-pkg-mac-x64/piping-server --http-port=8080 &> ./piping-server.log &
        # Get server PID
        server_pid=$!
        # Wait for server running
        sleep 1
        # Create a file to send
        echo 'hello, world' > /tmp/hello.txt
        # Send and wait for a receiver
        curl -T /tmp/hello.txt localhost:8080/mypath &
        # Get data as a file
        curl localhost:8080/mypath > /tmp/download.txt
        # Print downloaded file
        cat  /tmp/download.txt
        # Test the equality
        diff /tmp/hello.txt /tmp/download.txt

        # Print server's log
        cat ./piping-server.log

        # Stop the server
        kill $server_pid

  windows_operational_test:
    runs-on: windows-2019
    needs: build_x64_executables
    steps:
    - uses: actions/download-artifact@v2
      with:
        name: build_x64
        path: .
    - name: Unarchive zip
      run: unzip piping-server-pkg-win-x64.zip
    - name: Create certificates
      run: |
        mkdir ssl_certs
        cd ssl_certs
        openssl genrsa 2048 > server.key
        openssl req -new -key server.key -subj "/C=JP" > server.csr
        cat server.csr | openssl x509 -req -days 3650 -signkey server.key > server.crt
    - name: Operational test
      run: |
        # Run a server in background
        $args = @("--http-port=8080", "--enable-https", "--https-port=8443", "--key-path=.\ssl_certs\server.key", "--crt-path=.\ssl_certs\server.crt")
        $server_pid = Start-Process -PassThru -FilePath .\piping-server-pkg-win-x64\piping-server.exe -ArgumentList $args | foreach { $_.Id }
        # Wait for server running
        sleep 1
        # Create a file to send
        echo 'hello, world' > C:\Temp\hello.txt
        
        # Send and wait for a receiver
        curl -T C:\Temp\hello.txt localhost:8080/mypath &
        # Get data as a file
        curl localhost:8080/mypath > C:\Temp\download.txt
        # Print downloaded file
        cat  C:\Temp\download.txt
        # Test the equality
        diff C:\Temp\hello.txt C:\Temp\download.txt

        # Send and wait for a receiver
        curl -kT C:\Temp\hello.txt https://localhost:8443/mypath &
        # Get data as a file
        curl -k https://localhost:8443/mypath > C:\Temp\download_https.txt
        # Print downloaded file
        cat  C:\Temp\download_https.txt
        # Test the equality
        diff C:\Temp\hello.txt C:\Temp\download_https.txt

        # Stop the server
        kill $server_pid

  release_executables:
    if: startsWith( github.ref, 'refs/tags/')
    needs:
      - linux_operational_test
      - alpine_operational_test
      - macos_operational_test
      - windows_operational_test
      - build_arm_executables
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/download-artifact@v2
        with:
          name: build_x64
          path: .
      - uses: actions/download-artifact@v2
        with:
          name: build_arm
          path: .
      - run: |
          set -xeu
          mkdir ./publish_dir
          mv piping-server-pkg-* ./publish_dir
          # Show and create checksums
          (cd publish_dir && sha256sum * | tee /dev/stderr > sha256sums.txt)
          TAG=$(echo $GITHUB_REF | cut -d / -f 3)
          VERSION=$TAG
          REPO=$(echo $GITHUB_REPOSITORY | cut -d / -f 2)
          curl -L https://github.com/tcnksm/ghr/releases/download/v0.14.0/ghr_v0.14.0_linux_amd64.tar.gz | tar xzf -
          ./ghr_v0.14.0_linux_amd64/ghr -t ${{ secrets.GITHUB_TOKEN }} -u ${GITHUB_ACTOR} -r ${REPO} -c ${GITHUB_SHA} -delete ${VERSION} ./publish_dir
